<p><a href="{{ '/images/PlanetOfTheApes.jpg' | relative_url }}"><img src="{{ '/images/PlanetOfTheApes.jpg' | relative_url }}" alt="" /></a></p>
<p>October 2022</p>
<p><a href="{{ '/images/labOct2022.jpg' | relative_url }}"><img src="{{ '/images/labOct2022.jpg' | relative_url }}" alt="" /></a></p>
<p>April 2022</p>
<p><a href="{{ '/images/lab2022.jpg' | relative_url }}"><img src="{{ '/images/lab2022.jpg' | relative_url }}" alt="" /></a></p>
<p>Sometime pre-COVID</p>
<p><a href="{{ '/images/lab2019.jpg' | relative_url }}"><img src="{{ '/images/lab2019.jpg' | relative_url }}" alt="" /></a></p>
<p>We work in four main areas:</p>
<ul>
<li><strong>Modeling human decision making</strong>
<ul>
<li>optimization problems (bandit problems, optimal stopping problems, ..) that involve making sequences of decisions under uncertainty in structured environments</li>
<li>strategies in decision making, with a focus on environment structure, adaptive strategy use, and individual differences</li>
</ul>
</li>
<li><strong>Collective cognition and the wisdom of the crowd</strong>
<ul>
<li>using cognitive models to improve wisdom of the crowd performance</li>
<li>using cognitive models to extend the types of behavioral data that can be combined across a crowd of people</li>
</ul>
</li>
<li><strong>Modeling memory with clinical applications</strong>
<ul>
<li>applying models of memory and knowledge representation to detect and understand changes caused by aging and impairment, using real-world clinical data</li>
</ul>
</li>
<li><strong>Bayesian statistical methods</strong>
<ul>
<li>using graphical models and computational Bayesian methods to improve the development, evaluation and application of cognitive models</li>
</ul>
</li>
</ul>
<h3>Key Collaborators</h3>
<p><a href="https://www.linkedin.com/in/eric-jan-wagenmakers-55291411/">E.-J. Wagenmakers</a>, University of Amsterdam<br>
<a href="http://www2.psy.unsw.edu.au/Users/BNewell/">Ben Newell</a>, University of New South Wales<br>
<a href="https://www.linkedin.com/in/kevin-gluck/">Kevin Gluck</a>, formerly of US Air Force Research Laboratory<br>
<a href="http://www.bouzaslab25.com/">Bouzas lab</a>, National Autonomous University of Mexico</p>
<h3><strong>Current Graduate Students</strong></h3>
<table>
<tbody>
<tr>
<td><a href="{{ '/images/manuel.jpg' | relative_url }}"><img src="{{ '/images/manuel.jpg' | relative_url }}" alt="" /></a></td>
<td>Manuel Villarreal, 5th year<em><br>
</em></td>
</tr>
<tr>
<td><a href="{{ '/images/laurenmontgomery_155.jpg' | relative_url }}"><img src="{{ '/images/laurenmontgomery_155.jpg' | relative_url }}" alt="" /></a></td>
<td>Lauren Montgomery, 5th year</td>
</tr>
<tr>
<td><em>co-advising</em></td>
<td></td>
</tr>
<tr>
<td><img src="{{ '/images/nidhibanavar_155.jpg' | relative_url }}" alt="" /></td>
<td>Nidhi Banavar (Primary Advisor: Aaron Bornstein)</td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="{{ '/images/adriana.jpeg' | relative_url }}"><img src="{{ '/images/adriana.jpeg' | relative_url }}" alt="" /></a></td>
<td>Adriana Felisa Chávez De la Peña (Primary Advisor: Joachim Vandekerckhove)</td>
</tr>
</tbody>
</table>
<h4>Current Undergraduate Students</h4>
<p>Charlie Baldini<br>
Sara Chong<br>
Ren-Hui Michelle Tham<br>
Emily Lee</p>
<h2><strong>Former Graduate Students</strong></h2>
<table>
<tbody>
<tr>
<td><em><img src="{{ '/images/holly.jpg' | relative_url }}" alt="" /></em></td>
<td>Holly Westfall<em><br>
</em><a href="https://www.linkedin.com/in/holly-westfall-4870bb79/">LinkedIn</a></td>
</tr>
<tr>
<td><img src="{{ '/images/jeffreycoon_155.jpg' | relative_url }}" alt="" /></td>
<td>Jeff Coon (Primary Advisor: Barbara Sarnecka), now assistant professor at Hanover College IN</td>
</tr>
<tr>
<td><img src="{{ '/images/robertthomas_155.jpg' | relative_url }}" alt="" /></td>
<td><a href="https://www.linkedin.com/in/bobby-thomas1/">Bobby Thomas</a>, now UX Researcher at DAT Freight &amp; Analytics</td>
</tr>
<tr>
<td><a href="{{ '/images/percy.jpg' | relative_url }}"><img src="{{ '/images/maime.jpg' | relative_url }}" alt="" /></a></td>
<td><a href="https://www.linkedin.com/in/maimeguan/">Maime (Hongyang) Guan</a>, now data scientist at Apple</td>
</tr>
<tr>
<td><a href="{{ '/images/percy.jpg' | relative_url }}"><img src="{{ '/images/percy.jpg' | relative_url }}" alt="" /></a></td>
<td><a href="https://www.linkedin.com/in/percy-mistry/">Percy Mistry</a>, now research scientist at Stanford</td>
</tr>
<tr>
<td><a href="{{ '/images/irina.jpg' | relative_url }}"><img src="{{ '/images/irina.jpg' | relative_url }}" alt="" /></a></td>
<td><a href="https://www.linkedin.com/in/idanileiko/">Irina Danileiko</a>, now data analyst at Wizards of the Coast</td>
</tr>
<tr>
<td><a href="{{ '/images/generic_profile.jpg' | relative_url }}"><img src="{{ '/images/generic_profile.jpg' | relative_url }}" alt="Profile Image" /></a></td>
<td><a href="https://www.linkedin.com/in/james-pooley-0a8996a1/">James Pooley</a>, now at Success Academy Charter Schools</td>
</tr>
<tr>
<td><a href="{{ '/images/shunan.jpg' | relative_url }}"><img src="{{ '/images/shunan.jpg' | relative_url }}" alt="" /></a></td>
<td><a href="https://www.linkedin.com/in/shunan-zhang-94736a10/">Shunan Zhang</a>, now at Apple</td>
</tr>
<tr>
<td><a href="{{ '/images/matt.jpg' | relative_url }}"><img src="{{ '/images/matt.jpg' | relative_url }}" alt="" /></a></td>
<td><a href="https://www.linkedin.com/in/mattzeig/">Matt Zeigenfuse</a>, now at Swiss Re</td>
</tr>
<tr>
<td><a href="{{ '/images/mattDry.png' | relative_url }}"><img src="{{ '/images/mattDry.png' | relative_url }}" alt="" /></a></td>
<td><a href="https://researchers.adelaide.edu.au/profile/matthew.dry">Matt Dry</a>, now at the University of Adelaide</td>
</tr>
<tr>
<td><a href="{{ '/images/mark.jpg' | relative_url }}"><img src="{{ '/images/mark.jpg' | relative_url }}" alt="" /></a></td>
<td><a href="https://www.linkedin.com/in/professor-mark-mackay-1888205/">Mark Mackay</a>, now at the University of South Australia</td>
</tr>
<tr>
<td><a href="{{ '/images/dani.png' | relative_url }}"><img src="{{ '/images/dani.png' | relative_url }}" alt="" /></a></td>
<td><a href="http://www.psy.unsw.edu.au/contacts-people/academic-staff/dani-navarro">Danielle Navarro</a>, now pharmacometrician at <a href="https://www.certara.com/">Certara</a></td>
</tr>
</tbody>
</table>
<h3><strong>Former Undergraduate Students</strong></h3>
<p>Susie Liu<br>
Karyssa Courey<br>
Michelle Ke<br>
Juliana Chhouk<br>
Ibrahim Takesh<br>
Albert Le<br>
Stephanie Doering<br>
Matt Tillis<br>
Isaiah Cushman<br>
…</p>
