<table>
<tbody>
<tr>
<td><a href="{{ '/images/BB_Cover1.jpg' | relative_url }}"><img src="{{ '/images/BB_Cover1.jpg' | relative_url }}" alt="" /></a></td>
<td>Lee, M.D., &amp; Wagenmakers, E.-J. (2013). <em>Bayesian Cognitive Modeling: A Practical Course. </em>Cambridge University Press.
<p><a href="https://jasp-stats.org/jags-workshop/">amsterdam course</a><br>
template for drawing <a href="https://osf.io/kwp7u/">graphical models</a> in <a href="https://osf.io/jv6g3/">latex</a></p>
<p><a href="https://drive.google.com/file/d/1vCoDyoeqmH6q6h3a1AXmWwTXKDETlS3a/view?usp=sharing">first two parts of book</a><br>
<a href="https://drive.google.com/file/d/1wAmaqJkMCzKaxOsHFxmTbMFW1cf_Z5pl/view?usp=drive_link">code for book</a><br>
<a href="https://drive.google.com/file/d/1Y0FuQ7-EZU3Fbg2OG_0uJy96ylfbmnlk/view?usp=sharing">answers to exercises</a></p>
<p><a href="http://bayesmodels.com">book website</a><br>
<a href="http://www.amazon.com/Bayesian-Cognitive-Modeling-Practical-Course/dp/1107018455/ref=sr_1_1?ie=UTF8&amp;qid=1369156307&amp;sr=8-1&amp;keywords=bayesian+cognitive+modeling+a+practical+course">amazon US</a><br>
<a href="http://www.amazon.co.uk/Bayesian-Cognitive-Modeling-Practical-Course/dp/1107018455">amazon UK</a><br>
<a href="http://books.google.com/books?id=Gq6kAgAAQBAJ&amp;dq=lee+wagenmakers+bayesian&amp;source=gbs_navlinks_s">google books</a><br>
<a href="http://www.cambridge.org/us/academic/subjects/psychology/psychology-research-methods-and-statistics/bayesian-cognitive-modeling-practical-course">cambridge university press</a></td>
</tr>
</tbody>
</table>
<p>Other suggested reading</p>
<ul>
<li>Lee, M.D. (2018). Bayesian methods in cognitive modeling. In J. Wixted &amp; E.-J. Wagenmakers (Eds.) <em>The Stevens’ Handbook of Experimental Psychology and Cognitive Neuroscience, Volume 5: Methodology (Fourth Edition).</em> John Wiley &amp; Sons. [<a href="https://webfiles.uci.edu/mdlee/Lee2016_StevensHandbook.pdf">pdf</a>] [<a href="https://osf.io/zur8m/">osf</a>]</li>
<li>Lee, M.D., &amp; Vanpaemel, W. (2018). Determining informative priors for cognitive models. <em>Psychonomic Bulletin &amp; Review, 25,</em> 114-127. [<a href="https://webfiles.uci.edu/mdlee/LeeVanpaemel2016.pdf">pdf</a>]</li>
</ul>
